extends ../blocks/layout/layout
block append head
  +styles('css/styles.css')
block title
  title JsSlider es6
block content
  .slider
    .slider__images
      img.slider__images-item(src="img/slide-1.jpg")
      img.slider__images-item(src="img/slide-2.jpg")
      img.slider__images-item(src="img/slide-3.jpg")
  script(src="js/slider.js")
