extends ../blocks/layout/layout
block append head
  +styles('css/styles.css')
block title
  title JsSlider es6
block content
  .slider
    .slider__images
      img.slider__images-item(src="img/slide-1.jpg")
      img.slider__images-item(src="img/slide-2.jpg")
      img.slider__images-item(src="img/slide-3.jpg")
      .slider__images_captions
        .slider__images_captions_button_wrapper
          button.slider__direction-button.slider__direction-button_prev-hor
          button.slider__direction-button.slider__direction-button_next-hor
        .slider__images_captions_content_wrapper
          p.slider__images_captions_text Фотографиям вашего ребенка позавидуют даже звезды
          a.slider__images_captions_link(href='#') Начать обучение >
  script(src="js/slider.js")
